//
//  fluentd.config
//  User_Tracking
//  client side configuration file
//  Created by Anil on 01/12/17..
//
<source>
type forward
port 24224
bind 0.0.0.0
</source>
<source>
type exec_yaml
command sh /usr/bin/usertracking.sh
run_interval 10s
tag ltuser
</source>
<source>
type tail
tag user.logs

path /var/log/td-agent/user.log
format /^,DATE,(?<DATE>[^,]+),HOST,(?<HOST>[^,]+),DESTRO,(?<DESTRO>[^,]+),ARCH,(?<ARCH>[^,]+),CPU,(?<CPU>[^,]+),KERNEL,(?<KERNEL>[^,]+),TIME,(?<TIME>[^,]+),USERS,(?<USERS>[^,]+),IP,(?<IP>[^,]+),MAC,(?<MAC>[^,]+)$/
pos_file /var/log/td-agent/user.logs.position.txt
</source>
<match ltuser.**>
type copy

<store>
type file
flush_interval 10m
path /var/log/td-agent/user1.log
compress gzip
</store>

<store>
type forward
buffer_path /var/log/td-agent/user.*.buffer
buffer_type file
flush_interval 30s
send_timeout 30s

heartbeat_type tcp
heartbeat_interval 10m
<server>
name 127.0.0.1 //admin server hostname
host 127.0.0.1 //admin server hostname
port 24224
</server>
</store>
</match>
